* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

a {
    color: inherit;
    text-decoration: none;
}

.feedback-page {
    display: flex;
}


/* DRAWER */

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: 2px solid #ddd;
    height: 100vh;
}

.drawer {
    flex-grow: 1;
    width: 100%;
}

.option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.sign-out {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main {
    background-color: #EEF9FC;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.favorite {
    height: 32px;
    width: 32px;
}

.favorite-section {
    display: flex;
}

button {
    margin-top: 12px;
    background-color: #59A48D;
    border: none;
    padding: 4px 52px;
    border-radius: 8px;
    color: white;
    margin-left: auto;
    cursor: pointer;
}

button:hover {
    background-color: #2A5E4E;
}